$white: #fff;
$black: #000;
$btnPrimary: #4f2ac3;

$event1: linear-gradient(#1b6ca7, #442bdb);
$event2: linear-gradient(#442bdb, #89223b);
$event3: linear-gradient(#89223b, #9c791d);
$event4: linear-gradient(#9c791d, #89223b);
